<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkout</title>
    <link rel="stylesheet" href="/checkout.css">
</head>
<body>
    <div class="conatiner">
        <form>
            Cardholder's Name:
            <input class="name" type="text" name="Name">
            Account Number:
            <input class="name" type="number" name="Account number">
            <div class="small">
                <form>
                    Expiry Date:
                    <input type="date">
                </form>
            </div>
            <div class="big">
                <form>
                    CVV:
                    <input type="number" name="Cvv">
                </form>
            </div>
            <button class="btn">Pay</button>
        </form>

    </div>
</body>