<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    
<h1 class="sign">Log In</h1>
<div class="container">

    <form action="/login" method="post" >
         Name:
        <input placeholder="Name" name="name" class="fr" type="text">
        <br>
        Password:
        <input placeholder="Password" class="fr" name="password" type="password">
        <br>
        <input class="sub" type="submit">
    </form>
        <p>Already have an account?</p>

       <a href="/signup">Sign Up</a>
</div>

</body>
</html>